body{
    background-color: rgb(185, 203, 192);
    padding-left: 25px;
    border: solid 0px rgb(57, 195, 26);
    height: 0cap;
    background: content-box radial-gradient(rgb(90, 146, 122), rgb(15, 132, 150));
    
}
#name{
    font-weight: 500;
    font-size: 3rem;
    font-family: cursive;
    color: rgba(144, 26, 111, 0.749);
    margin-right: auto;
}
h2{
    color: rgb(43, 0, 255);
    margin:0 auto;
    font-weight: 100;
    font-size: 3em;
}
#exprience ul li{ 
    list-style: none;
    display: inline-grid;
    margin: auto;
    background-color:pink;
    color: rgba(62, 35, 184, 0.949);
    padding: 0.5em;
    border-radius: 0.6em;
    border-color: rgba(18, 128, 188, 0.204);
    border-style: groove;

}
#profile-picture{
    border-radius: 5cap;
    margin: 1em;
    width: 30%;
    border-color: rgb(78, 187, 151);
    border-width: 2cqw;
    border-style: groove;

}
#connect ul li{
    list-style: non;
    display: flexbox;
    margin: 3em;
    padding: 0.5em;
    color: rgb(89, 11, 94);
    background: color 0.8em;;
}
#navigation ul {
    display:flex;
    gap: 3em;
    padding-bottom:0;
    list-style:none;
  }
  a:hover {
    opacity: 0.3;
    
    #navigation {
        position:fixed;
        top:0;
        scroll-padding-top:1ch;
        background-color: rgb(76, 130, 224);